#edit,#del{
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 5px;
    font-size: large;
    border: none;
}
#del{
    background-color: rgb(252, 87, 27);
    margin-left: 1rem;
}
#edit{
    background-color: rgb(52, 255, 106);
    margin-right: 1rem;
}
#del:hover,#edit:hover{
    cursor: pointer;
}
#edit:hover{
    background-color: rgb(188, 255, 188);
}
#del:hover{
    background-color: rgb(255, 200, 188);
}
