#filter{margin-top: 100px;}
.blog-head{margin-top: 100px;}

.fltr{
    padding: 5px;
    background: transparent;
    backdrop-filter: blur(20px);
    outline: none;
}
.fltr option{
    background-color: transparent;
    /* backdrop-filter: blur(20px); */
    outline: none;
}
.fltr-name{color: purple;}
.fltr-name.dark-mode{color: rgb(254, 224, 153);}
#fltr-txt{
    margin-left: 1rem;
    margin-right: 10px;
    color: purple;
    font-weight: bold;
    border-radius: 5px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 5px;
    box-shadow: 0px 0px 1px 1px orange;
}
#fltr-txt.dark-mode{
    color: rgb(254, 224, 153);
    box-shadow: 0px 0px 1px 1px rgb(216, 216, 216);
}
#fltr-txt:hover{
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px green;
}
#fltr-txt:hover.dark-mode{box-shadow: 0px 0px 1px 1px rgb(199, 255, 199);}
#cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    /* padding: 1rem; */
    justify-content: center;
    
}
.card{
    /* position: relative; */
    padding: 9px;
    max-width: 20.5vw;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background: linear-gradient(270deg,rgba(207, 206, 206,0.9),rgba(254, 240, 214,0.9));;
    border-radius: 5px;
}
.card.dark-mode{
    background: linear-gradient(270deg, rgb(0, 123, 110,0.9),rgb(62, 62, 62,0.9));
}
.card:hover{
    box-shadow: 0px 0px 2px 1px rgb(220, 255, 223);
    border-radius: 0px;
    cursor:pointer;
}
.card>h1{
    font-size: 1.3rem;
    white-space: nowrap;   
    overflow: hidden;
    text-overflow: ellipsis;
}
.card>img{
    width: 20vw;
    height: 20vh;
}
/* stylelint-disable-next-line property-no-vendor-prefix */
.card>p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category{
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}
.links{
    margin-top: 1rem;
    margin-right: 0.9rem;
    background: transparent;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0px 0px 1px 1px purple
}
.links.dark-mode{
    box-shadow: 0px 0px 1px 1px yellow;
}
.links:hover{
    border: none;
    box-shadow: 0px 0px 1px 1px green;
}
.links:active{
    color: black;
}
#fltr-txt-small{
    display: none;
}
.card{
        animation: dropIn 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translateY(-50px) rotateX(60deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotateX(0deg);
    }
}
@media(max-width:650px){
    #cards{
        flex-direction: column;
        gap: 0rem;
    }
    .card{
       display: flex;
       max-width: 90vw;
       display: relative;
       margin-top: 0.5rem;
    }
    .card>img{
        float: left;
        position: absolute;
    }
    .card>h1{
        overflow: hidden;
        margin-top: 0px;
        
    }
    .card>p,h1,.category{
        margin-left: 21vw;    
    }
    #filter{
        margin-top: 70px;
    }
    .fltr{
        padding: 1px;
        font-size: x-small;
    }
    #fltr-txt{
        margin-left: 0.5rem;
        padding: 1px;
        border-radius: 2px;
        font-size: x-small;
    }
    .fltr-name{
        font-size: x-small;
    }
}
@media(max-width:453px){
    .fltr-name,#fltr-txt{
        display: none;
    }
    #fltr-txt-small{
        display: inline;
    font-size: x-small;
    margin-left: 0.5rem;
    margin-right: 10px;
    color: rgb(200, 143, 200);
    /* font-weight: bold; */
    border-radius: 5px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 1px;
    box-shadow: 0px 0px 1px 1px orange;
    }
}