body{
    overflow: hidden;
    width: 100%;
  }
  main{
      display: flex;
      margin-top: 100px;
  }
  .line{
      padding-top: 3rem;
      width: 65%;
      padding-left: 1.5rem;
      /* background-color: green; */
      height: 66vh;
  
  }
  .pic{
      position: absolute;
      right: 0px;
      height: 90%;
  }
  
  .rw{
      padding: 0.5rem;
      font-size: xx-large;
      border-radius: 5px;
      outline: none;
      border: none;
      /* margin-top: 3rem; */
      margin-right: 2rem;
      letter-spacing: 5px;
  }
  .read_write{
      margin-top: 3rem;
  }
  footer{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 12%;
      background: linear-gradient(270deg,rgb(166, 166, 166),rgb(255, 229, 181));
      text-align: center;
  }
  footer.dark-mode{
    background: linear-gradient(270deg,rgb(0, 55, 50),rgb(53, 53, 53));
  }
  
  /* animation */
  
  
  
  #typingText,#Share,.cursor {
      font-weight: bold;
      font-size: 7rem;
      color: purple;
      letter-spacing: 1px;
      text-shadow: 
      0 0 10px rgb(255, 193, 79), /* Inner glow */
      0 0 20px rgb(166, 166, 166), /* Outer glow */
      0 0 30px rgb(255, 229, 181) /* Extended outer glow */
    }
    #typingText.dark-mode,#Share.dark-mode,.cursor.dark-mode{
      color: rgb(226, 226, 173);
      text-shadow: 
    0 0 10px rgb(0, 97, 97), /* Inner glow */
    0 0 20px rgb(7, 73, 0), /* Outer glow */
    0 0 30px rgb(239, 156, 2) /* Extended outer glow */
    }
  .cursor {
      margin-left: 2px;
      animation: blink 0.7s steps(1) infinite;
    }
    @keyframes blink {
      50% {
        opacity: 0;
      }
    }

@media (max-width:960px)
{
  #Share,#typingText,.cursor{
    font-size: 3rem;
  }
  .rw{
    padding: 0.3rem;
    font-size: x-large;
    border-radius: 3px;
    letter-spacing: 3px;
}
}

@media(max-width:600px){
  #Share,#typingText,.cursor{
    font-size: 2rem;
  }
  .read_write{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}
.rw{
  margin-top: 20px;
  margin-left: 20px;
}
.pic img{
  width: 230px;
  height: auto;
}
}

/* hamburger */
@media(max-width:445px){
  .pic{
    display: none;
  }
  .line{
    width: auto;
  }
}