*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background: linear-gradient(270deg,rgb(207, 206, 206),rgb(254, 240, 214));
}

header{
    display: flex;
    justify-content:center;
    top: 0;
    left: 0;
    padding: 1.5rem;
    background: linear-gradient(270deg,rgb(166, 166, 166,0.8),rgb(255, 232, 186,0.8));
    backdrop-filter: blur(10px);
    align-items: baseline;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 50px;
}

.buttons{
    text-align: center;
    margin-right: 0.9rem;
    background: linear-gradient(135deg,pink,cornsilk);
    padding: 9px;
    border-radius: 3px;
    text-decoration: none;
    letter-spacing: 5px;
}
.buttons:hover{
    background: linear-gradient(135deg,rgb(255, 102, 128),rgb(253, 217, 73));
}

form{
    margin-top: 150px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* width: 100%; */
}
.forms{
    font-size: xx-large;
    width: 80%;
    padding: 1rem;
    background: linear-gradient(270deg,rgb(166, 166, 166,0.8),rgb(255, 232, 186,0.8));
    outline: none;
    border-width: 0.1px;
}
#blog-content{
    height: 60vh;
}
button{
    width: auto;
    padding: 10px;
}